.our-coffee {
  &__main {
    background-image: url("../../../../../../public/img/our-coffe/our-main.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    height: 260px;
    margin: 0 auto 70px;
    padding: 130px 0 84px;
  }
  &__title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
  }
}
