.navigation {
  display: flex;
  align-items: flex-end;

  @media (max-width: 600px) {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  @media (max-width: 400px) {
    margin-top: 60px;
  }
}
