.navigation__burger {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
  left: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  & img {
    width: 100%;
  }
  @media (max-width: 600px) {
    display: block;
  }
}
